<div mat-dialog-content [align]="'center'">
    <form [formGroup]="urunCategoryForm" style="margin-top: 25px;">

        <h2>Ürünü Güncelle</h2>
        <mat-form-field appearance="outline">
            <mat-label>Ürünün adı</mat-label>
            <input formControlName="urunAdi" matInput placeholder="yeni ürünün ismini girin">
            <mat-icon matSuffix>free_breakfast</mat-icon>
            <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Ürünün Fiyatı</mat-label>
            <input formControlName="urunFiyat" matInput placeholder="yeni ürünün fiyatını girin">
            <mat-icon matSuffix>attach_money</mat-icon>
            <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Kategori Türü</mat-label>
            <mat-icon matSuffix>category</mat-icon>
            <mat-select formControlName="kategoriID">
                <mat-option *ngFor="let item of categoryList" [value]="item.kategoriID">
                    <!--dönen değer  [value]="item.kategoriID"-->
                    {{item.kategoriTuru}}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Ürün Resim</mat-label>
            <input formControlName="urunImg" matInput placeholder="Ürün Resminin url'ni giriniz">
            <mat-icon matSuffix>photo</mat-icon>
        </mat-form-field>


    </form>
</div>

<div mat-dialog-actions [align]="'center'">
    <button mat-raised-button color="warn" mat-dialog-close>close</button>
    <button mat-raised-button color="primary" (click)="updateUrunler()">{{actionBtn}}</button>
</div>