<div mat-dialog-content [align]="'center'">
    <form [formGroup]="mergeForm" style="margin-top: 25px;">

        <h2>Yeni Kullanıcı Ekle</h2>
        <mat-form-field appearance="outline">

            <mat-label>Ad</mat-label>
            <input class="genis-input" formControlName="ad" matInput placeholder="adınızı giriniz">
            <mat-icon matSuffix>person</mat-icon>
            <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Soyad</mat-label>
            <input class="genis-input" formControlName="soyad" matInput placeholder="soyadınızı giriniz">
            <mat-icon matSuffix>person</mat-icon>
            <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input class="genis-input" type="email" formControlName="email" matInput placeholder="email giriniz">
            <mat-icon matSuffix>email</mat-icon>

        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Şifre</mat-label>
            <input class="genis-input" type="{{ showPassword ? 'text' : 'password' }}"
                formControlName="password" matInput placeholder="Şifre giriniz" maxlength="8">
            <mat-icon matSuffix (click)="toggleShowPassword()">
                {{ showPassword ? 'visibility' : 'visibility_off' }}
            </mat-icon>
            <!-- <mat-hint class="align-end" *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
                Şifre en az 8 karakterden oluşmalı ve en az bir küçük harf, bir büyük harf, bir rakam ve bir özel karakter içermelidir.
            </mat-hint> -->

            <div class="custom-hint" *ngIf="isPasswordHintVisible()">
                Şifre en az 8 karakterden oluşmalı ve en az bir küçük harf, bir büyük harf, bir rakam ve bir özel karakter içermelidir.
              </div>
            
         
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Tel</mat-label>
            <span matPrefix>+0&nbsp;</span>
            <input class="genis-input" type="tel" formControlName="tel" matInput
                placeholder="telefon numaranızı giriniz">
            <mat-icon matSuffix> call</mat-icon>
            <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Ev Adresi</mat-label>
            <!-- <input type="text" formControlName="evAdresi" matInput placeholder="Ev adresinizi giriniz"> -->
            <textarea class="genis-input"  formControlName="evAdresi" #adress1 maxlength="200" matInput
                placeholder="Ev adresinizi giriniz"></textarea>
            <mat-icon matSuffix>person_pin_circle</mat-icon>
            <mat-hint [align]="'end'">{{adress1.value.length}} / 200</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>İş Adresi</mat-label>
            <!-- <input type="text" formControlName="isAdresi" matInput placeholder="İş adresinizi giriniz"> -->
            <textarea class="genis-input" formControlName="isAdresi"  #adress2 maxlength="200" matInput
                placeholder="İş adresinizi giriniz"></textarea>
            <mat-icon matSuffix>business</mat-icon>
            <mat-hint [align]="'end'">{{adress2.value.length}} / 200</mat-hint>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions [align]="'center'">
    <button mat-raised-button color="warn" mat-dialog-close>close</button>
    <button mat-raised-button color="primary" (click)="addUserAndAdress()">{{actionBtn}}</button>
</div>