<p>
  <mat-toolbar color="warn">

    <img src="assets/images/delivery-bike.png" id="image-brand" alt="image of brand">

    <h1 class="header" (click)="goToHome()">
      <!-- <mat-icon>restaurant_menu </mat-icon> -->
      Acıktım.Com
    </h1>




    <div *ngIf="loggedIn">
      <div *ngIf="admin">
        <a mat-raised-button color="accent" style="margin-left: 80.0px; margin-right: 8.0px; "
          routerLink="home">Anasayfa</a>
        <a mat-raised-button color="accent" style="margin-right: 8.0px;" routerLink="kullanicilar">Kullanıcılar</a>
        <a mat-raised-button color="accent" style="margin-right: 8.0px;" routerLink="siparisler">Siparişler</a>
        <a mat-raised-button color="accent" style="margin-right: 8.0px;" routerLink="menulerdashboard">Menüler</a>
        <!-- <a mat-raised-button color="accent" style="margin-right: 8.0px;" routerLink="menu">Menü</a> -->
        <a mat-raised-button color="accent" style="margin-right: 8.0px;" routerLink="urunler">Ürünler</a>
        <a mat-raised-button color="accent" style="margin-right: 8.0px;" routerLink="restaurantlar">Restaurantlar</a>
        <a mat-raised-button color="accent" style="margin-right: 8.0px;" routerLink="kategoriler">Kategoriler</a>
        <a mat-raised-button color="accent" style="margin-right: 8.0px;" routerLink="adres">Adresler</a>
        <!-- <a mat-raised-button color="accent" style="margin-right: 8.0px;" routerLink="restmenu">Restaurant Menüleri</a> -->
      </div>

      <div *ngIf="restaurant">
        <a mat-raised-button color="accent" style="margin-right: 8.0px;" routerLink="menulerhome">Menüler</a>
        <a mat-raised-button color="accent" style="margin-right: 8.0px;" routerLink="urunler">Ürünler</a>
      </div>


      <div class="person-buttons" *ngIf="person">
        <!-- <a mat-raised-button color="accent" style="margin-right: 8.0px;" routerLink="">Önceki Siparişlerim</a> -->
        <button mat-icon-button class="button-icon" routerLink="">
          <mat-icon>shopping_basket</mat-icon>
        </button>
        <span class="button-text">Önceki Siparişlerim</span>

        <!-- <a mat-raised-button color="accent" style="margin-right: 8.0px;" routerLink="">Hesabım</a> -->
        <button mat-icon-button class="button-icon" routerLink="profile">
          <mat-icon>contact_mail</mat-icon>
        </button>
        <span class="button-text">Hesabım</span>

      </div>


    </div>
    <div class="button-container">

      <button mat-icon-button class="button-icon" routerLink="/register" *ngIf="!findUser">
        <mat-icon>person</mat-icon>
      </button>
      <span class="button-text" *ngIf="!findUser">Kayıt Ol</span>

      <ng-container *ngIf="findUser; else loginButton">
        <button mat-icon-button class="button-icon">
          <mat-icon>login</mat-icon>
        </button>
        <span class="button-text">{{ findUser.ad + ' ' + findUser.soyad }}</span>
      </ng-container>

      <ng-template #loginButton>
        <button mat-icon-button class="button-icon" routerLink="/login">
          <mat-icon>login</mat-icon>
        </button>
        <span class="button-text">Giriş Yap</span>
      </ng-template>

      <!-- Çıkış Yap butonu -->
      <button mat-icon-button class="button-icon" (click)="openSnackBar()" routerLink="/home">
        <mat-icon>logout</mat-icon>
      </button>
      <span class="button-text">Çıkış Yap</span>

    </div>
  </mat-toolbar>
</p>



<router-outlet></router-outlet>