<div class="backgroundImage_1"></div>

<div class="mat-card-container">
    <mat-card  class="custom-card">
        <mat-card-content >
            <div class="backgroundImage_2"></div>
        </mat-card-content>
        
    </mat-card>
    <mat-card >
        <mat-card-content>
            <div mat-dialog-content class="login-form">
                <h2 class="form-title">Giriş Yap
                    <hr>
                </h2>

                <form [formGroup]="loginForm" (ngSubmit)="userLogin()">
                    <div class="form-container">
                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>Email</mat-label>
                            <input class="genis-input" type="email" formControlName="email" matInput
                                placeholder="Email giriniz" maxlength="50">
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>Şifre</mat-label>
                            <input class="genis-input" type="{{ showPassword ? 'text' : 'password' }}"
                                formControlName="password" matInput placeholder="Şifre giriniz" maxlength="8">
                            <mat-icon matSuffix (click)="toggleShowPassword()">
                                {{ showPassword ? 'visibility' : 'visibility_off' }}
                            </mat-icon>
                            <!-- <mat-hint class="align-end" *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
                                Şifre en az 8 karakterden oluşmalı ve en az bir küçük harf, bir büyük harf, bir rakam ve bir özel karakter içermelidir.
                            </mat-hint> -->

                            <div class="custom-hint" *ngIf="isPasswordHintVisible()">
                                Şifre en az 8 karakterden oluşmalı ve en az bir küçük harf, bir büyük harf, bir rakam ve
                                bir
                                özel karakter içermelidir.
                            </div>
                        </mat-form-field>
                    </div>

                    
                    <div class="button-container">
                        <!-- <a routerLink="/home" mat-raised-button color="accent">Giriş Yap</a> -->
                        <button mat-raised-button color="accent">Giriş Yap</button>
                    </div>
                    <span class="span-container">Ya da <br>Hala Kayıt Olmadınız mı?</span>
                    <div class="button-container">
                        <button mat-raised-button class="button-kaydol" routerLink="/register">Kayıt Ol</button>
                    </div>

                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>