<h1>MENÜLER DASHBOARD
    <mat-divider style="margin-top:1%;"></mat-divider>
    <div style="display: flex; justify-content:center; align-items: center;  gap: 300px;">
        <!-- <section>
            <button mat-raised-button color="accent" routerLink="/menulerIndex">Menüler Listesini Getir</button>
        </section> -->
        <section>
            <button mat-raised-button color="accent" routerLink="/restmenu">Restaurant Menü Listesini Getir</button>
        </section>
        <section>
            <button mat-raised-button color="accent" routerLink="/resturun"> Restaurant Ürün Listesini Getir</button>
        </section>
        <section>
            <button mat-raised-button color="accent" routerLink="/menu"> Menü Listesini Getir</button>
        </section>
        <section>
            <button mat-raised-button color="accent" routerLink="/menulerurunler"> Menüler ve Ürünleri</button>
        </section>
    </div>
    <mat-divider></mat-divider>
</h1>


